body {
    margin: 0;
    padding: 0;
    background-color: rgb(53, 53, 192);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#game {
    display: flex;
    /* stacks genre columns in a row */
}
.genre-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    

}
.card{
    width: 200px;
    height: 120px;
    border-radius: 20px;
    background-color: rgb(4, 4, 76);
    border:solid yellow 5px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
.correct-answer {
    background-color: green;
}
.wrong-answer {
    background-color: red;
}
.true-button {
    background-color:rgb(79, 79, 219);
}
.false-button {
    background-color: gray;
}
button {
    margin: 3px;
}